


#seccionMenu{
    margin-top: 10%;
}

.SeccionBebidas{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 50px;

}


#Seccionalimentos{
    display: flex;
    flex-direction: row;
    justify-content: left;
    text-align: center;

}

#SeccioncafeenGrano{
    display: flex;
    flex-direction: row;
    justify-content: left;
    text-align: center;
}




