
nav img{
    width: 25vh;
}


body{
    align-content: center;
    justify-content: center;
    align-items: center;
}




#barra{
    display: flex;
    flex-direction: row;
    font-size: 18px;
    font-weight: 700;
    margin-bottom: 2%;
}

#izquierda{
    display: flex;
    flex-direction: row;
    margin-right: 30%;
}

#Derecha{
    display: flex;
    flex-direction: row;
    margin-right: 1%;
}



ul{
    flex-direction: row;
    display: flex;
    list-style: none;
}

a{
    color: black;
    text-decoration: none;
    margin: 20px;
}



.SeccionVerde{
    display: flex;
    flex-direction: row;
    background-color: #1e3932;
    justify-content: center;
    color: white;
    text-align: center;
    margin-left: 10%;
    margin-right: 10vw;
    margin-bottom: 2%;
}

#seccionverdetext2{
    margin-right: 1%;
    margin-top: 7%;
}


.SeccionVerde img{
    width: 40vw;
    height: auto;
}




.seccionazul{
    display: flex;
    flex-direction: row-reverse;
    background-color: rgb(47, 49, 182);
    justify-content: center;
    color: white;
    margin-bottom: 2%;
    margin-left: 10vw;
    margin-right: 10vw;
    text-align: center;
}

#seccionazultext{
    margin-left: 2%;
    margin-top: 7%;
}

.seccionazul img{
    width: 40vw;
    height: auto;
}


#SeccionRoja {
    display: flex;
    flex-direction: row;
    background-color: rgb(112, 21, 21);
    align-items: center;
    justify-content: center;
    color: white;
    margin-bottom: 2%;
    margin-left: 10vw;
    margin-right: 10vw;   
    text-align: center;
}


#seccionrojatext{
    margin-right: 2.5%;
}


#SeccionRoja img{
    width: 40vw;
    height: auto;
}


#Seccionverde2{
    display: flex;
    flex-direction: row-reverse;
    background-color: rgb(22, 58, 22);
    align-items: center;
    align-content: center;
    justify-content: center;
    color: white;
    margin-bottom: 2%;
    margin-left: 10vw;
    margin-right: 10vw;   
    text-align: center;
}

#seccionverde2text{
    margin-left: 2%;
    margin-right: 2%;
}

#Seccionverde2 img{
    width: 40vw;
    height: auto;
}

#Seccionrojayazul{
    display: flex;
    flex-direction: row;
    background-color: rgb(114, 41, 41);
    align-items: center;
    align-content: center;
    justify-content: center;
    color: white;
    margin-bottom: 2%;
    margin-left: 10vw;
    margin-right: 10vw;   
    text-align: center;
}

#Seccionrojayazul img{
    width: 40vw;
    height: auto;
}


#Seccionrojayazultext{
    margin-right: 2%;
}



#seccionrojafinal{
    display: flex;
    flex-direction: column;
    background-color: rgb(214, 128, 128);
    align-items: center;
    align-content: center;
    justify-content: center;
    color: white;
    margin-bottom: 2%;
    margin-left: 10vw;
    margin-right: 10vw;   
    text-align: center;
}

#seccionrojafinal img{
    width: 77vw;
    height: auto;
}

#seccionrojatextfinal{
    margin-bottom: 15%;
    color: rgb(201, 50, 50);
}



#seccionazulfinal{
    display: flex;
    flex-direction: column;
    background-color: rgb(72, 72, 235);
    align-items: center;
    align-content: center;
    justify-content: center;
    color: white;
    margin-bottom: 2%;
    margin-left: 10vw;
    margin-right: 10vw;   
    text-align: center;
}

#seccionazulfinal img{
    width: 77vw;
    height: auto;
}

#seccionazultextfinal{
    margin-bottom: 15%;
    color: rgb(151, 151, 221);
}



#seccionfinal{
    display: flex;
    flex-direction: row;
}

#Redes-sociales{
    display: flex;
    justify-content: center;
}


#Footer-Index{
    display: flex;
    justify-content: center;
}

#Seccion-final-index{
    display: flex;
    flex-direction: row;
    text-align: left;
}

#elfooter{
    display: flex;
    justify-content: center;
}





/*header fijo de rewards*/

.Fixed-header{
    background-color: white;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 10;
}

.BodyRewards{
    display: flex;
    margin-left: 46%;
    justify-content: center;
    align-content: center;
    text-align: center;
}



#seccionfinal{
    display: flex;
    margin-left: 50%;
}

#Redes-sociales{
    display: flex;
    margin-left: 50%;
}

#elfooter{
    display: flex;
    margin-left: 50%;
}


.Seccion-fija{
    position: fixed;
    background-color: #1e3932;
    color: white;
    justify-content: center;
    margin-right: 50%;
    padding: 16%;
}


#boton-header1{
    background-color: white;
    color: black;

}

#seccionprincipal{
    margin-top: 15%;
}

#Seccion-con-color{

}

/*estilo de secciones*/

#titulo-cerca-al-nav{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    text-align: center;
    margin-top: 10%;
    margin-left: 50%;
}



#centrartitulo{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-align: center;
}

#seccionflexwrap{
    display: flex;
    align-items: left;
    margin-left: 47%;
}

#contenedor{
    display: block;
    flex-direction: column-reverse;
    
}



#seccioninicial{
    display: flex;
    align-items: center;
    justify-content: center;
   
}

/*estilo de secciones*/

#estrellas{
    display: flex;
    justify-content: center;
    
}

#imagen-final{
    display: flex;
    flex-direction: row;
    margin-left: 50%;

}


#seccion3{
    background-color: rgb(177, 177, 177);
}


#seccioncolorgris{
    background-color: rgb(177, 177, 177);
}


#secciongris2{
    background-color: rgb(177, 177, 177);
}


#secciongris3{
   background-color: rgb(177, 177, 177);
}


#seccioncolorgris6{
    display: flex;
    flex-direction: row;
    margin-left: 46%;
    justify-content: center;
    align-content: center;
    text-align: center;
    margin-top: .5%;
    background-color: rgb(177, 177, 177);
}


   
