
nav img{
    width: 25vh;
}



body{
    align-content: center;
    justify-content: center;
    align-items: center;
}


#barra{
    display: flex;
    flex-direction: row;
    font-size: 18px;
    font-weight: 700;
}

#izquierda{
    display: flex;
    flex-direction: row;
    margin-right: 30%;
}

#Derecha{
    display: flex;
    flex-direction: row;
}

ul{
    flex-direction: row;
    display: flex;
    list-style: none;
}

a{
    color: black;
    text-decoration: none;
    margin: 20px;
}



.SeccionVerde{
    display: flex;
    flex-direction: row;
    background-color: #1e3932;
    justify-content: center;
    color: white;
    text-align: center;
    margin-left: 10%;
    margin-right: 10vw;
    margin-bottom: 2%;
}

.SeccionVerde img{
    width: 40vw;
    height: auto;
}




.seccionazul{
    display: flex;
    flex-direction: row-reverse;
    background-color: rgb(47, 49, 182);
    justify-content: center;
    color: white;
    margin-bottom: 2%;
    margin-left: 10vw;
    margin-right: 10vw;
    text-align: center;
}

.seccionazul img{
    width: 40vw;
    height: auto;
}



button{
    background-color: rgb(122, 48, 48);
    color: rgb(82, 33, 33);
    border-radius: 15px;
    margin-top: 5px;
    width: 25vw;
    height: 15vh;
    margin-left: 5vw;
}

button :hover{
    background-color: rgb(124, 75, 75);
   
}


